*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.pagina{
    overflow-x:hidden;    
    background-color: rgb(253, 197, 206) ;
    display: grid;
    grid-template-columns:1fr 2fr 2fr 1fr;      
    grid-template-areas:"header header header header"
                        "nav   nav    nav    nav"
                         "main   main   main   main"
                        " footer footer footer footer";
}

header{
    grid-area:header;
}
nav{
    grid-area:nav;
}
main{
    grid-area:main;
}
aside{
    grid-area: aside;
    }
.paginaConBS{
    background-color: rgb(253, 197, 206) ;
}

/*index*/

.tiendaOnline{ 
        color: rgb(253, 197, 206);
        background-color: rgb(214, 85, 128);
        padding: 10px; 
        font-size: 50px;
        text-align: center;
        background-image: url(../img/logoTiendaOnline.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;                  
        }
    @media(max-width:460px){
        .tiendaOnline{
            font-size: 40px;
        }
    }

.navegador > ul{
    list-style-type: none;
    background-color: rgb(214, 85, 128);
    border: solid;
    border-color:rgb(150, 58, 89);
    font-size: x-large;
    text-align: center;
    
    
}
.navegador ul li{
    display: inline-block;
}
.navegador ul li a{
    display: block;
    color: rgb(253, 197, 206);
    text-decoration: none;
    padding: 10px;
}
.imagenSlider{
    background-image: url(../img/slider.jpg);
    width: 100%;
    height: 400px;
    background-size:contain;
    
    
}
.tituloProductos{
    font-size: x-large;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;             
}
.divPadre{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;  
    flex-wrap: wrap;
}

.tarjetaProducto{
    margin:20px;     
    width: 300px;
    border: solid 2px;
    border-radius: 8px;    
    padding: 10px;
    font-size: large;  
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000a6;
    
}
.tarjeta__imgproducto{
    width: 100%;

}

.tarjeta__titulo{
    margin: 5px;
    text-align: center;
    }

.tarjeta__btn{
    display: block;   
    width: 150px;
    padding: 10px;
    margin: 20px;
    margin-left: 60px;
    border: solid;    
    border-color: rgb(253, 197, 206);
    color: rgb(255, 255, 255);
    font-size: large;
    background-color: rgb(155 89 182);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.botonesIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
@media(max-width:850px){
    .tituloProductos{
        text-align: center;
    }
    .botonesIndex{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        gap:15px;
    }

}


.btnIndex{
    background-image: url(../img/btnCocina.jpg);
    width: 450px;
    height: 300px;        
    background-size: contain;
    border-color:rgb(155 89 182);
    border-radius: 10px;
}
.btnIndex2{
    background-image: url(../img/btnOrden.jpg);
    width: 450px;
    height: 300px;    
    background-size: contain;
    border-color:rgb(155 89 182);
    border-radius: 10px;
}
.btnIndex3{
    background-image: url(../img/btnUsoPersonal.jpg);
    width: 450px;
    height: 300px;    
    background-size: contain;
    border-color:rgb(155 89 182);
    border-radius: 10px;
}
.tituloBtnIndex{
    color: rgb(229, 151, 240);
    font-size: xx-large;
    }   
    
footer{
        color:  rgb(253, 197, 206);        
        background-color: rgb(214, 85, 128);
        padding: 10px;          
        font-size: x-large;  
        display: flex;      
        flex-wrap: wrap ;  
        flex-direction: row;
        align-items:flex-start;
        justify-content:space-between; 
        grid-area: footer;
                
                
}
.tituloFooter{
margin-top: 0px;
margin-right: 10px;
margin-bottom: 10px;
}
.footerMetodosDePago{
    text-align: center;  
}

.footerRedesSociales{
    text-align: end;
}
.tituloFormulario{
 text-align: center;
}
.subTituloPagina{   
     margin-left: 50px;
     margin-bottom: 15px;
    text-decoration: underline;
    text-align: start;
    font-size: xx-large;

} 
/*Contactos*/
@media(max-width:1024px){    
                    
    .subTituloPagina{
        text-align: center;
    }
}
    .btn_BS{
    background-color:  rgb(253, 197, 206);        
    color: rgb(214, 85, 128);
      
    }
           
     /*empresas*/  
   
   .tituloVentas{
    margin-right: 550px;
    text-decoration: underline;
    text-align: end;
    font-size: xx-large;
    
   }
    .contenedorEmpresas{
        display: flex;
        flex-direction: wrap;
     

    }
  .imgEmpresas{
    height: 400px;
    margin-left: 50px;
    border-color: rgb(253, 197, 206);
    border-radius: 15px;
  

     }
     .btnEmpresas{          
        margin: 5px;
        margin-left: 80px;
        padding: 10px;
        width: 500px;       
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: rgb(155 89 182);
        color: white;
        font-size: large;

     }
     /*productos*/   
     .navProductos ul {        
        list-style-type: none;            
        margin: 7px;               
        text-align: start;
        font-size: x-large;
        
             
        
        
     }
     .navProductos > ul > li{                     
        background-color: rgb(155 89 182);
        display: inline-block;
        position: relative;
        margin-left: 40px;
        
        
        
        
        

     }
     .navProductos > ul > li > a {
        color: white;
        display: block;
        text-decoration: none;
        padding: 10px;
        
        
        
        
     }
     .navProductos > ul > li:hover ul{
        display: block;    
        height:200px    
        
     }
     @media(max-width:700px){
      .subTituloPagina{
        text-align: center;
       }      
     }
     .navProductos > ul > li > ul{
        
        display: none;
        list-style-type: none;
        margin-left: 15px;
        position: absolute;
        top: 40px;
        left: 0;
        
        
        
        
     }
     .navProductos > ul > li > ul > li{
        display: inline;
       
        
     }
    
     .navProductos > ul > li > ul > li > a{
        text-decoration: none;
        color: white;
        background-color:  rgb(155 89 182);
        display: block;
        padding: 10px;
             
             }
    /*Nosotros*/
.parrafoNosotros{
    font-size: 25px;
}