.botonesIndex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .btnIndex{
        background-image: url(../../assets/img/btnCocina-min.jpg);
        width: 450px;
        height: 300px;        
        background-size: contain;
        border-color:$colorBtn;
        border-radius: 10px;
    }
    .btnIndex2{
        background-image: url(../../assets/img/btnOrden-min.jpg);
        width: 450px;
        height: 300px;    
        background-size: contain;
        border-color:$colorBtn;
        border-radius: 10px;
    }
    .btnIndex3{
        background-image: url(../../assets/img/btnUsoPersonal-min.jpg);
        width: 450px;
        height: 300px;    
        background-size: contain;
        border-color:$colorBtn;
        border-radius: 10px;
    }
    .tituloBtnIndex{
        color:$colorPrincipal;
        font-size: xx-large;
        }
}
@media(max-width:850px){
    
    .botonesIndex{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        gap:15px;
        
        .tituloProductos{
            text-align: center;
        }
    }

}
@media(max-width:500px){
    .botonesIndex{
        .btnIndex{
            width: 300px;
            height: 250px;  
        }
        .btnIndex2{
            width: 300px;
            height: 250px;
        }
        .btnIndex3{
            width: 300px;
            height: 250px;
        }
    }
   
}
.btnEmpresas{                               
    margin: 5px;
    margin: 20px;
    padding: 10px;
    width: 500px;        
    border-radius: 10px;
    background-color: $colorBtn;
    color: white;
    font-size: large;
    text-align: center;       

 }
 @media(max-width:560px){
    .btnEmpresas{
        width: 300px;
    }
 }
