.tituloProductos{
    font-size: x-large;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;             
}
.subTituloPagina{   
    margin-left: 50px;
    margin-bottom: 15px;
   text-decoration: underline;
   text-align: start;
   font-size: xx-large;

} 
.tituloVentas{
    
    text-decoration: underline;
    text-align: center;
    font-size: xx-large;
    
   }
   .textQuienesSomos{
    text-align: end;
    margin: 10px;
    font-size: x-large;
    }
@media(max-width:1024px){    
                    
    .subTituloPagina{
        text-align: center;
    }
}